body{
    background-color: rgb(225, 225, 225);
}

.card-img{
    width: 100%;
    height: 450px;
    border: none;
}

.card-img-top{
    height: 200px;
}

.card{
    color: rgb(0, 0, 0);
}

.card-title, 
.card-text{
    
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 10px;
}


h5{
    font-size: 50px;
}

.bt-img{
    margin-top: 10px;
    height: 40px;
    width: 180px;
}

.navbar, .footer-copi{
    color: white;
}
